<h1>
  <%= @character.name %>
</h1>

<article>
  <h2>Info</h2>
  <p>
    <b>Species: </b>
    <%= @character.species %>
  </p>

  <% if @character.character_type %>
    <p>
      <b>Type: </b>
      <%= @character.character_type %>
    </p>
  <% end %>

  <p>
    <b>Status: </b>
    <%= @character.status %>
  </p>

  <p>
    <b>Gender: </b>
    <%= @character.gender %>
  </p>

  <p>
    <b>Last known location: </b>
    <%= link_to @character.location.name, location_path(@character.location) %>
  </p>

  <% if @character.origin_location %>
    <p>
      <b>Origin location: </b>
      <%= link_to @character.origin_location.name, location_path(@character.origin_location) %>
    </p>
  <% end %>

  <p>
    <b>Created at: </b>
    <%= @character.created_at.to_s %>
  </p>
</article>

<article>
  <details>
    <summary>
      <h3 style="display: inline">
        Episodes
      </h3>
    </summary>

    <ul>
      <% @character.episodes.each do |episode| %>
        <li>
          <%= link_to episode.name, episode_path(episode) %>
        </li>
      <% end %>
    </ul>
  </details>
</article>